table {
    border-collapse: collapse; /* Combina los bordes adyacentes de la tabla en una sola línea en lugar de mostrar líneas dobles */
    width: 400px; /* Establece el ancho total fijo del elemento de la tabla */
}

td {
    border: 1px solid black; /* Aplica un borde negro, sólido y de 1 píxel de grosor alrededor de cada celda */       
    height: 50px; /* Establece la altura fija de cada celda de la tabla */
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
    background-color: black; /* Establece el color de fondo de las celdas seleccionadas en negro */
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: white; /* Establece el color de fondo de las celdas seleccionadas en blanco */
}

#reinas_colocadas {
    font-size: xx-large; /* Define el tamaño del texto como extra-extra-grande en relación con el contenedor */
    font-weight: bold; /* Aplica un estilo de fuente en negrita al texto */
}

#ganador {
    font-size: 40pt; /* Establece el tamaño de la fuente del texto en un valor absoluto de 40 puntos */
    font-weight: bold; /* Aplica un estilo de fuente en negrita al texto */
    color: lime; /* Define el color del texto como verde lima */
}
